{% extends "base.html" %}

{% block content %}
<h2>{{ course[1] }}</h2>
<p><b>Instructor:</b> {{ course[2] }}</p>
<p>{{ course[3] }}</p>

<hr>

<h3>📘 Lectures</h3>
{% if lectures %}
  {% for lec in lectures %}
    <p>
      {{ lec[1] }}
      <a href="/download/lecture/{{ lec[2] }}">Download</a>
    </p>
  {% endfor %}
{% else %}
  <p>No lectures uploaded yet.</p>
{% endif %}

<hr>


<h3>📝 Assignments</h3>
{% if assignments %}
  {% for a in assignments %}
    <p>
      {{ a[1] }} (Due: {{ a[3] }})
      <a href="/download/assignment/{{ a[2] }}">Download</a>
    </p>
  {% endfor %}
{% else %}
  <p>No assignments yet.</p>
{% endif %}




{% if course[4] %}
  <p>
    <b>📤 Assignment Submission:</b>
    <a href="{{ course[4] }}" target="_blank">Submit your work here</a>
  </p>
  <hr>
{% endif %}

{% endblock %}