{% extends "base.html" %}
{% block content %}

<h2>Available Courses</h2>

{% for course in courses %}
<div>
    <h3>{{ course[1] }} (ID: {{ course[0] }})
         <a href="/enroll/{{ course[0] }}" style="font-size:14px; margin-left:10px;">Enroll</a>
    </h3>
    <p><b>Instructor:</b> {{ course[2] }}</p>
    <p>{{ course[3] }}</p>



   {% if session.get("instructor") %}
<form action="/delete/{{ course[0] }}" method="POST" style="display:inline;">
    <button type="submit">Delete</button>
</form>
{% endif %}

    <hr>
</div>
{% else %}
<p>No courses yet.</p>
{% endfor %}

{% endblock %}
